extends: default

rules:
  truthy:
    level: warning
    allowed-values:
      - true
      - false
  trailing-spaces:
    level: error
  new-line-at-end-of-file:
    level: error
  indentation:
    spaces: 2
    level: error
